
.cad {
	border: 2px solid white;
	border-radius: 25px;
	background: transparent;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 20px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

::placeholder{
color: white;
}

.main .centro{
	max-width: 70%;
	margin: 0 auto;
	display: table;
	margin-top: 240px;
	margin-left: 650px;
}



.submit{
	padding-right: 120px;
	padding-left: 120px;
	border-radius: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	background:url('../imagem/degrade.jpg');
	border: transparent;
	color: white;
}

img{
	margin-bottom: 10px;
	padding-right: 50px;
	width: 35%;
	height: 25%;
}

